@media (max-width: 640px) {

    /*mobil*/
    h1 {
        color: red
    }

    #tab,
    #lap,
    #pc {
        display: none;
    }
}

@media (min-width: 641px) and (max-width: 767px) {

    /*tableta*/
    h1 {
        color: blue;
    }

    #mob,
    #lap,
    #pc {
        display: none;
    }

}

@media (min-width: 768px) and (max-width: 1200px) {

    /*laptop*/
    h1 {
        color: blueviolet;
    }

    #tab,
    #mob,
    #pc {
        display: none;
    }
}

@media (min-width: 1201px) {

    /*pc*/
    h1 {
        color: brown;
    }

    #tab,
    #lap,
    #mob {
        display: none;
    }
}